article {
  max-width: 45em;
}

blockquote {
    border-left: 4px solid #222; 
    padding-left: 1em;

    > :last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    border:0;
}

pre,
code {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
